{% assign organizations = data[1] %}

{% assign professional_orgs = organizations | where_exp: "item", "item.category == 'Professional'" %}
{% assign academic_orgs = organizations | where_exp: "item", "item.category == 'Academic'" %}
{% assign service_orgs = organizations | where_exp: "item", "item.category == 'Service'" %}

<div class="organizations-container">
  {% if professional_orgs.size > 0 %}
  <div class="org-category">
    <div class="category-header">
      <i class="fas fa-briefcase"></i>
      <span>Professional</span>
    </div>
    
    <div class="orgs-list">
      {% for org in professional_orgs %}
        <div class="org-item">
          <table class="org-table">
            <tr>
              <td class="org-icon">
                <i class="fas fa-building"></i>
              </td>
              <td class="org-name">
                {% if org.url and org.url != "" %}
                  <a href="{{ org.url }}" target="_blank" rel="noopener noreferrer">{{ org.name }}</a>
                {% else %}
                  {{ org.name }}
                {% endif %}
              </td>
              <td class="org-years">
                {% if org.startDate %}
                  {% assign startYear = org.startDate | slice: 0, 4 %}
                  {% if org.endDate == "Present" %}
                    {{ startYear }}-PRES
                  {% elsif org.endDate %}
                    {% assign endYear = org.endDate | slice: 0, 4 %}
                    {{ startYear }}-{{ endYear }}
                  {% else %}
                    {{ startYear }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {% if academic_orgs.size > 0 %}
  <div class="org-category">
    <div class="category-header">
      <i class="fas fa-graduation-cap"></i>
      <span>Academic</span>
    </div>
    
    <div class="orgs-list">
      {% for org in academic_orgs %}
        <div class="org-item">
          <table class="org-table">
            <tr>
              <td class="org-icon">
                <i class="fas fa-university"></i>
              </td>
              <td class="org-name">
                {% if org.url and org.url != "" %}
                  <a href="{{ org.url }}" target="_blank" rel="noopener noreferrer">{{ org.name }}</a>
                {% else %}
                  {{ org.name }}
                {% endif %}
              </td>
              <td class="org-years">
                {% if org.startDate %}
                  {% assign startYear = org.startDate | slice: 0, 4 %}
                  {% if org.endDate == "Present" %}
                    {{ startYear }}-PRES
                  {% elsif org.endDate %}
                    {% assign endYear = org.endDate | slice: 0, 4 %}
                    {{ startYear }}-{{ endYear }}
                  {% else %}
                    {{ startYear }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  {% if service_orgs.size > 0 %}
  <div class="org-category">
    <div class="category-header">
      <i class="fas fa-hands-helping"></i>
      <span>Service</span>
    </div>
    
    <div class="orgs-list">
      {% for org in service_orgs %}
        <div class="org-item">
          <table class="org-table">
            <tr>
              <td class="org-icon">
                <i class="fas fa-heart"></i>
              </td>
              <td class="org-name">
                {% if org.url and org.url != "" %}
                  <a href="{{ org.url }}" target="_blank" rel="noopener noreferrer">{{ org.name }}</a>
                {% else %}
                  {{ org.name }}
                {% endif %}
              </td>
              <td class="org-years">
                {% if org.startDate %}
                  {% assign startYear = org.startDate | slice: 0, 4 %}
                  {% if org.endDate == "Present" %}
                    {{ startYear }}-PRES
                  {% elsif org.endDate %}
                    {% assign endYear = org.endDate | slice: 0, 4 %}
                    {{ startYear }}-{{ endYear }}
                  {% else %}
                    {{ startYear }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>